<% provide(:title, 'Password Recovery') %>

<div class="public-content">
  <div class="container">
    <div class="pad-me-pls row">
      <div class="col-sm-6 col-md-6 col-md-offset-3">
        <h1 class="text-center reco-title">Password Recovery</h1>
        <div class="reco-wall">
          <%= form_for(:password_reset, url: password_resets_path) do |f| %>
              <div class="form-horizontal">
                <div class="form-group">
                  <%= f.label('E-mail Address', {:class => 'col-md-4 control-label'}) %>
                  <div class="col-md-7">
                    <%= f.email_field(:uemail, {:class => 'form-control input-md', :placeholder => 'email@example.com'}) %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="reco-button">
                    <div class="col-md-7">
                      <%= f.submit('Recover', {:class => "btn btn-lg btn-primary btn-block"}) %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>