<div class="ui segment" style="padding-top: 10px;">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
      <table class="table">
        <thead>
        <tr>Username</tr>
        </thead>
        <tbody>
          <% @conversations.each do |conversation| %>
          <tr>
            <td>
              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                  <% if conversation.sender_id == current_user.id %>
                      <% recipient = User.find(conversation.recipient_id) %>
                  <% else %>
                      <% recipient = User.find(conversation.sender_id) %>
                  <% end %>
                  <%= recipient.username %>
              <% end %>
            </td>
            <td><%= link_to 'View Conversation', conversation_messages_path(conversation) %></td>
            <td><%= link_to 'User\'s profile', recipient %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
