<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', access_authenticated_path %>
<% if session[:user_id] %>
    <% if @current_user.try(:admin?) %>
        | <%= link_to 'Users', users_path %>
    <% end %>
<% end %>

