<% provide(:title, 'New User') %>

<h1>New User</h1>

<%= render 'form' %>

<%= link_to 'Admin Panel', access_admin_path %>
<% if session[:user_id] %>
    <% if @current_user.try(:admin?) %>
        <%= link_to 'Users', users_path %>
    <% end %>
<% end %>
