#app-content{
  padding-top: 50px;
}

th {
  background-color: #747171;
  color: #f0f0f0;
  letter-spacing: 2px;
  font-weight: bolder;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: #f0f0f0;
  background-color: #444444;
  a {
    color: #b9cddd;
  }
}

.table-object-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-object-information > tbody > tr:first-child {
  border-top: 0;
}


.table-object-information > tbody > tr > td {
  border-top: 0;
}


