
#nav-div {
  background-color: #444444;
  //padding:0px;
  padding-top: 50px;
  padding-left: 25px;
}
.nav-items, .nav-items a {
  color:#ffffff;
  background-color:transparent;
  text-shadow:0 0 2px #000000;
}
.nav-items li a:hover {
  background-color:#393939;
  color:#393939;
}

.nav-items {
  color: #f8f8f8;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;

}
