<% provide(:title, 'Search Events') %>

<div class="menu">
  <h1>My Events</h1>
  <ul>
    <li><%= link_to("Home", root_path) %></li>
    <li><%= link_to "Back", :back %></li>
  </ul>
</div>
