<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>The Sport Dog Network</h1>
          <h3>Where working dogs network</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://twitter.com/diegomanrique50" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span
              class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span
              class="network-name">Facebook</span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/profile/view?id=AAMAAAt1Wl0BIW2ICVJobl55A8jiZU4o02JX_3A&trk=hp-identity-name"
                 class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>