<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <%=link_to 'Home', root_path %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%=link_to 'About', '#' %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%=link_to 'Search Dogs', '#' %>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <%=link_to 'Search Events', '#' %>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; The Sport Dog Network 2015. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>